.Footer {
	padding:20px;
	color:$c-3;
	h5{
		font-weight: 400;
		font-size: 18px;
		color:$c-3;
	}
	.footer-box{
		ul{
			//margin-top:0px;
		}
		img{
			margin-right:5px;
		}
	}
	a{
		color:$c-3;
		&:hover{
			color:$c-1;
			text-decoration: none;
		}
	}
}

// RESPONSIVE FOOTER
.Footer-inner .widget {
	@include span-columns(4);
	@media screen and(max-width: 980px){
		@include span-columns(12);
	}
}

.Footer-inner {
}

//style the widgets
.Footer-inner .widget {

}

.Socket{
	text-align: center;
}